.uploadImage {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadImage input {
  padding-left: 90px;
}

.ipfsFileData {
  margin-top: 30px;
}

.ipfsFileData * {
  margin: auto;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.ipfsFileData svg {
  margin-top: 40px;
}

input {
  text-align: center;
  margin: auto;
}

.dropText {
  padding: 20px;
}

.dropZone {
  background-color: #ecf0f1;
  padding: 100px;
}

.dropZoneActive {
  background-color: #bdc3c7;
  padding: 100px;
}

.hashLink {
  font-size: 1.5em;
}

.upload {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
